%h3
  アンケート項目
%table{:class => 'table table-bordered table-striped'}
  %thead
    %tr
      %th{:style => "width: 150px;"} 項目
      %th 内容
  %tbody
    %tr
      %td タイトル
      %td= @question.title
    %tr
      %td 質問 1
      %td= @question.question_1
    %tr
      %td 質問 2
      %td= @question.question_2
    %tr
      %td 質問 3
      %td= @question.question_3
    %tr
      %td 質問 4
      %td= @question.question_4
    %tr
      %td 質問 5
      %td= @question.question_5
    %tr
      %td 質問 6
      %td= @question.question_6
    %tr
      %td 質問 7
      %td= @question.question_7
    %tr
      %td 質問 8
      %td= @question.question_8
    %tr
      %td 質問 9
      %td= @question.question_9
    %tr
      %td 質問 10
      %td= @question.question_10
